org: amirykehara
service: api-web-scraping
provider:
  name: aws
  runtime: python3.10  # <- FIX: Cambiado a 3.10 (tu local)
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::773506457076:role/LabRole
custom:
  pythonRequirements:
    dockerizePip: non-linux  # Mantiene compatibilidad para pip en Ubuntu
functions:
  scrape_table:
    handler: scrap_table.lambda_handler
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
package:
  include:
    - ./**
resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
